<div class="bg-success p-2 text-white bg-opacity-75">
	<h1 style="text-align: center;">
		About MYM
	</h1>
</div>
<br>
<p style="text-align: center;">
	<!-- This site provide you the details of mosque with mosque data. It is usefull to see Mosque without imam. So you can apply for the post of Imam. -->

	<%= @x %>
	



</p>


