<div class="container text-center">
	<div class="row justify-content-md-center">
	    <div class="col col-lg-2">

			<h3 style="text-align: center;">
				
				<%= link_to "Sign in as Mutawalli", new_user_session_path, class:"nav-link" %>
			</h3>
		</div>
		<div class="col col-lg-2">
			<h3 style="text-align: center;">
				<%= link_to "Sign in as Imam", new_user_session_path, class:"nav-link" %>
			</h3>
		</div>
	</div>
</div>
