
<div class="border border-primary" style="border-radius: 20%; background-color: lightgreen;">
	<div class="container-fluid">
	    <div class="row">
	    	<div style="text-align: center">
			    <h5><%= @user.first_name.to_s + " " + @user.last_name.to_s %></h5>
			    <h5><%= @user.address %></h5>
			    <h5><%= @user.contact_number %></h5>
			    <h5><%= @user.email %></h5>
			</div>
		</div>
	</div>
</div>












<!-- 	hafij
	qari
	molana
	mufti
	adab
	takhassus fil hadith
	takhassus fil ifta
 -->
